/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
  padding-bottom: 40px;
  color: #000;
  /*background: #2d2d7c url('../assets/img/background.png') repeat fixed; */
}

* { -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -ms-font-smoothing:antialiased; -o-font-smoothing:antialiased; font-smoothing:antialiased; }


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. 
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

 Flip around the padding for proper display in narrow viewports 
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
*/

* {
  margin: 0;
  padding: 0;
}

#nav-container {
  overflow:none;
  white-space:nowrap;
  background: #2d2d7c url('../assets/img/background.png') repeat fixed; 
}

#nav {
  z-index: 300;
  font: 500 10px 'Raleway', helvetica, arial, sans-serif;
  text-align: center;
  margin: 0;
}

#nav > li {
  position: relative;
  display: inline-block;
  background-color:rgba(0,0,0,0.75);
  width: 20%;
}

#nav > li:nth-of-type(2n) {
  background-color:rgba(0,0,0,0.6);
}

#nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0 10px 0;
}

#nav a:visited {
  color: #bcbcbc;
}

#nav a:hover {
  color: #6767ef;
  background-color:rgba(0,0,0,0.8);
}

#nav a:active {
  color: #757575;
}

#experience{
	display: none;
}

#popover {
  z-index:12;
  position: absolute;
  top: 88px;
  background-color:rgba(0,0,0,0.75);
  /*padding: 7px 7px 7px 1px;*/
  /*border: 1px solid rgba(26,53,71,.12);*/
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(26,53,71,.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(.8) translateY(-30%);
  transform: scale(.8) translateY(-30%);
  transition: .4s cubic-bezier(.3, 0, 0, 1.3);
}

#popover.visible {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none;
}

#popover::before {
  content: "";
  position: absolute;
  top: -7px;
  left: /*calc(50% - 7px)*/ 17%;
  width: 13px;
  height: 7px;
  background: url('../assets/img/popover-arrow-black-trans.svg');
}

#popover li {
  list-style: none;
  text-align: left;
  display: block;
}

#popover a {
  padding: 1em;
}

#popover > li:nth-of-type(2n) {
  background-color:rgba(255,255,255,0.035);
}

#popover > li:first-child  > a{
  border-radius: 4px 4px 0 0;
}

#popover > li:last-child  > a{
  border-radius: 0 0 4px 4px;
}


.fa-4x{
font-size:4em;
line-height:1.25em;
}

#resume-button{
position: relative;
top: -3px;
left: 13px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 399px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

#logotype {
	position: absolute;
	right: 15%;
	top: -35px;
	left: 15%;
	z-index: 10;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#logotype > h1 {
	font: 400 2.8em 'Megrim', helvetica, arial, sans-serif;
}

#descriptors {
	position: absolute;
	right: 15%;
	bottom: 35px;
	left: 15%;
	z-index: 10;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#descriptors > h2{
	font: 400 25px 'Raleway', helvetica, arial, sans-serif;
	line-height: 10px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 399px;
  background-color: #fff;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 399px;
}

.item {
  background: #2d2d7c url('../assets/img/background.png') repeat fixed; 
}

.carousel-indicators {
bottom: 0;
}

#vector-img {
	position: relative;
	display: block;
	margin: 99px auto 0 auto;
	height: 300px;
}

#vector-img span {
    display: inline-block;
    *display: inline;
    background: url(assets/img/geometric-portrait-3.png) 0 0 no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    zoom: 1;
}
.svg #vector-img span {
    background: none;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 440px) {
	#experience{
		display: inline;
	}
	
	#exp{
		display: none;
	}
}

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
