/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* GLOBAL STYLES
-------------------------------------------------- */

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
html{
	height:100%;
}

body {
  height:100%;
  padding-bottom: 40px;
  color: #000;
  font: 500 1em 'Raleway', helvetica, arial, sans-serif;
  line-height: 1.6;
  background: rgba(236, 240, 241,1.0); 
}

* { -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -ms-font-smoothing:antialiased; -o-font-smoothing:antialiased; font-smoothing:antialiased;
	margin: 0;
	padding: 0;
}

abbr[title], acronym[title] {
     border-bottom-width: 0;
   }

h1, h2, h3, h4, h5, h6 {
	font: 900 'Raleway', helvetica, arial, sans-serif;
}

h1 {
	font: 500 1.5em 'Megrim', helvetica, arial, sans-serif;
}

h2 {
	font: 900 1.5em 'Raleway', helvetica, arial, sans-serif;
}

h3 {
	font: 900 1.4em 'Raleway', helvetica, arial, sans-serif;
	line-height: 1.4;
}
   
a {
  color: rgb(41, 128, 185);
}   

a:visited {
  color: rgb(21, 108, 165);
}

a:hover {
  color: rgb(52, 152, 219);
  text-decoration: none;
}

a:focus {
  color: rgb(52, 152, 219);
  text-decoration: none;
}

a:active {
	color: rgb(89, 189, 255);
}

/* NAVBAR
-------------------------------------------------- */

#left-nav-space 	{
	display: none;
}

.home-logo {
	display: none;
}

#nav-container {
  width:100%;
  overflow: visible;
  white-space: nowrap;
  background: rgba(44, 62, 80,1.0); 
}

#nav {
  position: relative;
  z-index: 300;
  text-align: center;
  width: 100%;
  margin: 0;
  -webkit-backface-visibility: hidden;
}

#nav > li {
  font: 400 10px 'Montserrat', helvetica, arial, sans-serif;
  position: relative;
  display: inline-block;
  background-color:rgba(0,0,0,0.75);
  width: 25%;
}

#nav > li:nth-of-type(2n) {
  background-color:rgba(0,0,0,0.6);
}

#nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0 10px 0;
}

#nav > li > a > i:not(.fa-caret-down) {
	font-size: 5em;
}

.expand{
	display: none;
}

#nav > li > a > .fa-caret-down {
	margin-left: 3px;
	margin-right: 0;
}

#popover {
  z-index:12;
  position: absolute;
  top: 90px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(.8) translateY(-30%);
  transform: scale(.8) translateY(-30%);
  transition: .5s cubic-bezier(.3, 0, 0, 1.3);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -khtml-border-radius: 4px;
  box-shadow: 0 1px 2px rgba(26,53,71,.1);
}

#popover.visible {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none;
}

#popover:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 17%;
  width: 13px;
  height: 7px;
  background: url('../assets/img/popover-arrow-black-trans.svg');
}

#popover li {
  list-style: none;
  text-align: left;
  display: block;
  font-size: 1.2em;
}

#popover a {
  padding: 1em;
}

#popover > li:not(:first-child) > a {
  background-color:rgba(10,10,10,1);
}

#popover > li:nth-of-type(2n) > a {
  background-color:rgba(0,0,0,1);
}


#popover > li:last-child  > a{
  border-radius: 0 0 4px 4px;
}

/*popover RESUME style*/
#popover > li:first-child > a {
  border-radius: 4px 4px 0 0;
  color: rgba(22,22,22,1);
  background-color:rgba(241, 196, 15,1);
}

#popover > li:first-child > a:visited {
  color: rgba(22,22,22,1);
}

#popover > li:first-child > a:hover, a:focus {
  color: rgba(0,0,0,1);
  background-color:rgba(255,255,255,1);
}

#popover > li:first-child > a:active {
  color: #757575;
}

/*nav menu root item styles */
#nav-container * a {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3);
}

#nav-container * a:visited {
  color: rgba(255,255,255,1);
}

#nav-container * a:hover, a:focus {
  color: rgba(0,0,0,0.8);
  background-color:rgba(255,255,255,1);
  transition: .5s cubic-bezier(.3, 0, 0, 1.3);
}

#nav-container * a:active {
  color: #757575;
}

/*popover hover styles, NOT including resume*/
#popover > li > a:visited {
  color: rgba(255,255,255,1);
}

#popover > li > a:hover, a:focus {
  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,1);
}

#popover > li > a:active {
  color: #757575;
}

/* HEADER
-------------------------------------------------- */

.logotype {
	background: url('../assets/img/neuron.png') repeat fixed;
	position: relative;
	z-index: 10;
	color: #fff;
	text-align: center;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.9);
	padding: 3px;
	transition: .5s cubic-bezier(.3, 0, 0, 1.3);
}

.logotype * a {
	font: 500 1.1em 'Megrim', helvetica, arial, sans-serif;
	color: rgb(255,255,255);
	margin: 0;
	line-height: 1;
	white-space: nowrap;
}

/* MAIN CONTENT
-------------------------------------------------- */

.se-slope:nth-child(odd){
	background: rgb(236, 240, 241);
}
.se-slope:nth-child(even){
	background: rgb(219, 225, 229);
}

.se-content {
	padding: 20px 10px 20px 10px;
}

.se-content > p{
	margin-top: 1em;
}

.page-title{
	text-align: center;
	font-size: 1.2em;
	line-height: 1.3em;
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

figure {
	position: relative;
	width: 100%
}

figure > img{
	display: block;
	max-width: 300px;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

figcaption {
	display: block;
    position: absolute;
    bottom: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
    max-width: 300px;  
	padding: 10px;
    background-color: rgba(0,0,0,0.9);  
    font: 500 0.8em 'Raleway', helvetica, arial, sans-serif;
    color:white;
}

section {
	margin-top: 1em;
}


/* FOOTER
-------------------------------------------------- */

.footer{
	width: 100%;
	padding-bottom: 1em;
	background: rgba(44, 62, 80,1.0);
	text-align: center;
	margin-top: 70px;
	box-shadow: 0px -15px 25px rgba(0,0,0,0.3);
	color: rgba(236, 240, 241,1.0);
	text-align: center;
	font-size: 0.85em;
	-webkit-backface-visibility: hidden;
}

.footer > div.container {
	padding-top: 30px;
}

	/* Raise ANIMATION */

	.raise {
	  display: inline-block;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	}

	.raise:hover, .raise:focus, .raise:active {
	  -webkit-transform: scale(1.1) translateY(-10px);
	  transform: scale(1.1) translateY(-10px);
	}

	/* ====================================== */

.back-to-top{
	margin-bottom: 1.5em;
}

.footer-name {
	margin-bottom: 2em;
}

.footer-name h1{
	font: 400 2.5em 'Megrim', helvetica, arial, sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
}

.connect {
	margin-bottom: 2em;
}

.footer-email {
	margin-bottom: 1.5em;
}

	/* Grow ANIMATION */
	
	.grow {
	  display: inline-block;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	}
	.grow:hover, .grow:focus, .grow:active {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}

	.grow:active {
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}

	/* ====================================== */

.connect{
	text-align: center;
}

.connect * p {
	display: inline-block;
	vertical-align: middle;
}

.connect * p:nth-of-type(2n-1){
	height:41px;
}

.connect > a {
	color: rgba(236, 240, 241,1.0);
}

.connect > a:hover, a:focus{
  color: rgb(52, 152, 219);
  text-decoration: none;
}

.connect > a:active {
  color: rgb(89, 189, 255);
}

.footer-email * a{
	font: 1.5em 'Montserrat', helvetica, arial, sans-serif;
	color: rgba(241, 196, 15,1.0);
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition: .5s cubic-bezier(.3, 0, 0, 1.3);
}

.footer-email * a:hover {
  color: rgba(255, 236, 45,1.0);
  text-decoration: none;
}

.footer-email * a:focus {
  color: rgba(255, 236, 45,1.0);
  text-decoration: none;
}

.footer-email * a:active {
  color: rgba(226, 181, 0,1.0);
}

.footer-2 {
	padding: 3em 0 3em 0;
	background: rgba(5, 10, 20,1.0);
	color: rgba(87, 100, 101,1.0);
	position: relative;
	font-size: 0.8em;
	line-height: 2em;
}

.footer-nav > li{
	margin-bottom: 1em;
}

.footer-2 * a{
	font-size: 1.2em;
	color: rgba(127, 140, 141,1.0);
}

.wrapper {
	margin: 0 auto -20px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 480px) {
	.expand {
		display: inline;
	}
	
	a > abbr{
		display: none;
	}
	
	.logotype {
		font: 400 1.4em 'Megrim', helvetica, arial, sans-serif;
	}
}

@media (min-width: 640px) {
	.logotype {
		font: 400 1.8em 'Megrim', helvetica, arial, sans-serif;
	}
}

@media (min-width:960px) {
	body {
		background: url('../assets/img/neuron.png') repeat fixed;
	}

	.home-logo {
		display: inline-block;
		padding: 0;
		margin-top: 21px;
		margin-left: 20px;
		float: left;
	}
	
	nav {
		position: relative;
		height: 73px;
		top: 0;
		width: 100%;
	}
	
	#nav-container {
		display: block;
		white-space: normal;
		width: auto;
		height: 61px;
		background: url('../assets/img/navbar-bg.svg') repeat-x bottom;
		margin-left: 467px;
	}
	
	#nav {
		text-align: right;
	}
	
	#nav > li {
		width: auto;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-khtml-border-radius: 4px;
		background: none;
	}
	
	#nav > li:nth-of-type(2n) {
		background: none;
	}
	
	#nav > li:first-child {
		display: none;
	}
	
	#nav > li > a {
		padding: 19px 19px 19px 16px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-khtml-border-radius: 4px;
	}
	
	#nav > li > a > i:not(.fa-caret-down) {
		font-size: 1em;
	}
	
	#nav > li > a > .fa-info-circle {
		margin: 0 10px 0 2px;
	}
	
	
	#nav > li > a > .fa-caret-down {
		font-size: 1em;
		margin-left: 5px;
		margin-right: 0;
	}
	
	#nav * br {
		display: none;
	}
	
	#nav * a {
		font-size: 17px;
	}	
	
	#nav * i {
		margin: 0 5px 0 0;
	}
	
	#popover {
		top: 61px;
		width: 470px;
	}
	
	#popover:before {
		content: "";
		position: absolute;
		top: -7px;
		left: 183px;
		width: 13px;
		height: 7px;
		background: url('../assets/img/popover-arrow-yellow.svg');
	}
	
	.logotype {
		display: none;
	}
	
	figure {
		height: 100%;
		width: 25%;
		text-align: initial;
	}
	
	figure > img {
		margin-top: -26%;
	}
	
	section {
		margin-top: 0;
	}
		
	main{
		display: block;
		overflow: hidden;
		padding-top: 150px;
		margin: 0 auto;
		width: 100%;
		max-width: 1440px;
	}
	
	.se-slope{
		margin: 0 -50px;
		-webkit-transform-origin: left center;
		-moz-transform-origin: left center;
		-o-transform-origin: left center;
		-ms-transform-origin: left center;
		transform-origin: left center;
	}
	.se-slope:nth-child(odd){
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		margin-top: -160px;
	}
	.se-slope:nth-child(even){
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	.se-slope:nth-child(1){
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		margin-top: -190px;
	}
	
	.se-content{
		position: relative;
		z-index: 1;
		width: 75%;
		margin: 0 auto;
		overflow: hidden;
	}

	.se-slope:nth-child(odd) .se-content{
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
		padding: 130px 0 150px 0;
	}
	
	.se-slope:nth-child(odd) .se-content figure{
		float: left;
		margin-right: 20px;
	}
	
	.se-slope:nth-child(even) .se-content{
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		color: #000;
		padding: 130px 0 150px 0;
	}
	
	.page-title{
		font-size: 1.5em;
		line-height: 1.5em;
		margin: -5% 0 10% 0;
		padding-bottom: 2.5%;
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	
	.se-slope:nth-child(even) .se-content figure{
		float: right;
		margin-left: 20px;
	}
	
	.se-content h3{
		font: 1.4em;
	}
	
	section {
		font-size: 1.1em;
	}
	
	.skew-opposite{
	  -webkit-transform: skewY(-3deg);
	  -moz-transform: skewY(-3deg);
	  -ms-transform: skewY(-3deg);
	  -o-transform: skewY(-3deg);
	  transform: skewY(-3deg);
	  height: 450px;
	}
	
	.unskew-opposite{
	  -webkit-transform: skewY(3deg);
	  -moz-transform: skewY(3deg);
	  -ms-transform: skewY(3deg);
	  -o-transform: skewY(3deg);
	  transform: skewY(3deg);
	}
	
	.footer  {
		padding-top: 0px;
		min-height: 400px;
		margin-top: -50px;
	}
	
	.back-to-top{
		text-align: center;
	}
	
	.footer-2{
		margin-top: -50px;
	}
	
	.bottom-page{
		width: 100%;
		margin-top: -200px;
		background:	rgba(44, 62, 80,1.0);
		height: 270px;
		z-index: -1;
	}
	

}


@media (min-width:992px){
	.footer-email > p{
		float:right;
	}
	
	.footer {
		text-align: left;
	}
	
	.back-to-top {
		margin-bottom: 1em;
	}
	
	.connect{
		padding-top: 3.3em;
	}
	
	.connect > a:nth-of-type(2){
		margin-right: -50%;
		margin-left: 10%;
	}
	
	.footer-email{
		padding-top: 3.3em;
	}
	
	.footer-2 {
		margin-top: -150px;
	}
	
	.footer-nav > li {
		width:25%;
		display: inline-block;
		vertical-align: top;
	}
	
	.submenu{
		margin-left: 1.5em;
	}
}

@media (min-width: 1200px){
	#left-nav-space {
		display: inline-block;
		float: left;
		overflow: hidden;
		width: 6%;
		margin-right: 6px;
		height: 61px;
		background: url('../assets/img/navbar-bg.svg') repeat-x bottom;
	}

	.home-logo {
		display: inline-block;
		margin-left: 0;
		float: left;
	}

	#nav-container {
		width: auto;
		height: 61px;
		background: url('../assets/img/navbar-bg.svg') repeat-x bottom;
		margin-left: 534px;
	}
	
	#nav > li:last-child {
		margin-right: 9%;
	}

	.connect > a:nth-of-type(2){
		margin-right: -53%;
		margin-left: 23%;
	}
	
}
