	<!--Google Form Validation-->
	<script src="/assets/js/google-form-validation.js"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/docs.min.js"></script>
	<script src="/scripts/uilang.js"></script>
	<code>
	  clicking on ".more" toggles class "visible" on "#popover"
	</code>
	
	<!--JQuery and Smooth scrolling-->
    <script type="text/javascript" src="/assets/js/bind-polyfill.js"></script>
	<script type="text/javascript" src="/assets/js/smooth-scroll-2.js"></script>
	<script>
		smoothScroll.init();
	</script>