	<footer>
		<div class="footer skew-opposite">  
			<div class="container unskew-opposite">
				<div class="row">
					<div class="back-to-top col-sm-12">
						<p><a data-scroll href="#top" class="raise" ><img src="/assets/img/up-arrow.svg" onerror="this.onerror=null; this.src='/assets/img/up-arrow.png'" width="61" height="81" alt="Back to Top Arrow" /></a></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 footer-name">
						<h1>Mark Macapagal</h1>
						<p>is a Cornell University graduate with a BA in Biology. He enjoys programming for the web and promoting Filipino youth-activism.</p>
					</div>
					<div class="col-md-5 connect">
						<div class="social-link">
							<a href="http://www.linkedin.com/pub/mark-macapagal/51/387/b34/" class="grow"><p><i class="fa fa-linkedin-square fa-3x fa-fw"></i></p><p>LinkedIn</p></a>
						</div><!--
						--><div class="social-link">
							<a href="https://www.facebook.com/MarkJasonMacapagal" class="grow"><p><i class="fa fa-facebook-square fa-3x fa-fw"></i></p><p>Facebook</p></a>
						</div><!--
						--><div class="social-link">
							<a href="https://plus.google.com/105736110577347398067" class="grow"><p><i class="fa fa-google-plus-square fa-3x fa-fw"></i></p><p>Google+</p></a>
						</div>						
					</div>
					<div class="col-md-3 footer-email">
						<p><a class="grow" href="mailto:&#109;&#97;&#114;&#107;&#64;&#109;&#97;&#99;&#97;&#112;&#97;&#103;&#97;&#108;&#46;&#110;&#101;&#116;">&#109;&#97;&#114;&#107;&#64;<span style="display:none">kglwd</span>&#109;&#97;&#99;&#97;&#112;&#97;&#103;&#97;&#108;&#46;&#110;&#101;&#116;</a></p>
					</div>
				</div>
			</div>
      	</div>
		
		<!--Footer Navigation-->
		<div class="footer-2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-lg-12">
						<ul class="footer-nav">
							<li><a href="/index.html" class="grow"><i class="fa fa-home fa-fw"></i>Home</a>
								<ul class="submenu">
									</li><a href="index.html#about" class="grow"><i class="fa fa-user fa-fw"></i>About</a></li>
								</ul>
							</li><!--
							--><li>Background:
								<ul class="submenu">
									<li><a href="/template.html" class="grow"><i class="fa fa-file-text fa-fw"></i>R&eacute;sum&eacute;</a></li>
									<li><a href="/template.html" class="grow"><i class="fa fa-book fa-fw"></i>Harrington Labs</a></li>
									<li><a href="/template.html" class="grow"><i class="fa fa-university fa-fw"></i>CAASP</a></li>
									<li><a href="/template.html" class="grow"><i class="fa fa-globe fa-fw"></i>Cornell Filipino Assocation</a></li>
									<li><a href="/template.html" class="grow"><i class="fa fa-briefcase fa-fw"></i>NYC HRA: BFI</a></li>
								</ul>
							</li><!--
							--><li><a href="/blog.html" class="grow"><i class="fa fa-pencil fa-fw"></i>Blog</a></li><!--
							--><li><a href="/contact.html" class="grow"><i class="fa fa-envelope fa-fw"></i>Contact</a></li>
						</ul>
						<p>&copy; 2014 Mark Macapagal</p>
					</div>

				</div>
			</div>
		</div>
	</footer>