		<nav>
			<div id="left-nav-space">
			</div>
			<div class="home-logo">
				<a href="/index.html"><img src="/assets/img/logo.svg" onerror="this.onerror=null; this.src='/assets/img/logo.png'" width="441" height="41" alt="Mark Macapagal logo" /></a>
			</div>
			<div id="nav-container">
				<ul id="nav">
				  <li><a href="/index.html"><i class="fa fa-home fa-fw"></i><br/>HOME</a>
					<li>
					  <a href="#" class="more"><i class="fa fa-info-circle fa-fw"></i><br/><abbr title="Background">B/G</abbr><span class="expand">BACKGROUND</span><i class="fa fa-caret-down"></i></a>
						<ul id="popover">
							<li><a href="/template.html"><i class="fa fa-file-text fa-fw"></i> R&Eacute;SUM&Eacute;</a>
							<li><a href="/template.html"><i class="fa fa-book fa-fw"></i> HARRINGTON LABS</a></li>
							<li><a href="/template.html"><i class="fa fa-university fa-fw"></i> <abbr title="Cornell University Asian American Studies Program">CU AASP</abbr><span class="expand">CU ASIAN AMERICAN STUDIES PROGRAM</span></a>
							<li><a href="/template.html"><i class="fa fa-globe fa-fw"></i> CORNELL FILIPINO <abbr title="Association">ASSOC.</abbr><span class="expand">ASSOCIATION</span></a>
							<li><a href="/template.html"><i class="fa fa-briefcase fa-fw"></i> <abbr title="New York City Human Resources Administration: Bureau of Fraud Investigation">NYC HRA: BFI</abbr><span class="expand">NYC HRA: BUREAU OF FRAUD INVESTIGATION</span></a>
						</ul>
				  <li><a href="/blog.html"><i class="fa fa-pencil fa-fw"></i><br/>BLOG</a>
				  <li><a href="/contact.html"><i class="fa fa-envelope fa-fw"></i><br/>CONTACT</a>
				</ul>
			</div>
			<header class="logotype">
				<h1><a href="/index.html">MARK MACAPAGAL</a></h1>
			</header>
		</nav>