<!DOCTYPE html>
<html>

  {% include contact-head.html %}

  <body>
  <div class="wrapper" id="top">
	{% include nav.html %}

		<main id="main">
			<article>
				<div class="se-slope">
					<div class="se-content">
						<div class="page-title">
							<h2>{{page.title}}</h2>
							<p>{{page.excerpt}}</p>
							<p class="date">{{ page.date | date: '%B %d, %Y' }}</p>
						</div>
							<div class="row">
								<div class="blog-content">
								{{ content }}
								</div>
							</div>
					</div>
				</div>
			</article>
		</main>
	</div><!--wrapper end-->

    {% include footer.html %}
	{% include contact-scripts.html %}
  </body>

</html>
